/*обнуление отступов и шрифты*/
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Robotomedium;
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotoregular;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Robotolight;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 400;
  font-style: normal;}

@font-face {
  font-family: Robotolight;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 400;
  font-style: normal;}



input[type="email"] { 
    color: black; 
     font-family: Robotoregular;
    font-size: 20px;
   }
   input[type="email"]::-moz-placeholder {
    color: black; 
    font-family: Robotoregular;
    font-size: 20px;
   }
   input[type="email"]::-webkit-input-placeholder { color: black; }
   input[type="email"]:-ms-input-placeholder { color: black; }
   input[type="email"]::-ms-input-placeholder { color: black; }
   input[type="email"]::placeholder { color: black; } 

.fordesc {
  display: none;
}


/*------------------------------------*/
.header1{
    background-image: url("../images/fon1.png");
  background-repeat: no-repeat;
  background-position: center center;
 background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
  width: 100%;
  object-fit: cover;
  
}




.header1::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}


.container{
  z-index: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
   padding-top:32px;
}
.main1{
  background-image: url("../images/fon2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
  width: 100%;
  padding-top: 62px;
}
.main1::after {
  content: "";
  background-color: #D37777;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.18;
  z-index: 2;

}


.menucontainer{
  width: 90%;
}

/*---------------------------------------------------------------*/
.articles {
display: flex;
  text-align: center;
  width: 100%;
  border: 1px solid #f1cb00;
  
  
   
}
.links {
  display: flex;
  list-style: none;
  padding-top: 13px; 
  padding-bottom: 14.7px; 

  width: 100%;
}
.item {
  display: inline-block;
  margin-left: calc((100% / 5) - 20px);
  padding-top: 13px;
}
.item:nth-child(n + 2) {
  margin-left: calc((100% / 5) - 30px);
}
.link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  position: relative;
  display: inline-block;
}
.link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.link-main {
  background-image: url(../images/main.png);
}
.link-about {
  background-image: url(../images/about.png);
}
.link-flash {
  background-image: url(../images/flash.png);
}
.link-contacts {
  background-image: url(../images/contact.png);
}
/*---------------------------------------------------------------*/

.nowtext
{
   font-family: Robotomedium;
  font-size: 60px;
  color:white;
margin-left: 5.83%;
margin-right: 5.83%;
border-bottom: 1px solid #f1cb00;
text-align: left;
width: 88.34%;
}

.nowtext2
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.days
{

  font-family: Robotoregular;
  padding-top: 8px;
  font-size: 135px;
  color:white;
padding-left: 5%;
  width: 45%;

}

.days2
{
   font-family: Robotolight;
  font-size: 70px;
  color:white;
  text-align: center;
  padding-top: 35px;
  width: 45%;
  margin-right: 5%;
  line-height:60px;  
}


.days3{
   font-family: Robotolight;
  font-size: 70px;
  color:white;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  border-bottom: 1px solid #f1cb00;
  
  
}


.beenfirst{
font-family: Robotoregular;
 font-size: 17px;
   color:white;
width: 100%;
   text-align: center;
  margin-left: 9.5%;
  margin-right: 9.5%;
  padding-top: 20px;
   line-height:26px;  
}


/*------------------------------*/
.submit{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 color: black;
 margin-left: auto;
margin-right: auto;



}
.field-email {
  margin-top: 10px;
  box-sizing: border-box;
  width: 324px;
  border: none;
  padding: 16px;
  outline: none;
  background-color: #f1cb00;
  height: 70px;
  text-align: center;
 color: black;



}

.form-row {
 
  width: 100%;

}

.button {

  display: block;
  width: 324px;
  min-width: 324px;
  border: none;
  background-color: #f1cb00;
  cursor: pointer;
  height: 70px;
  border-radius: 40px;
  color: black;
     font-family: Robotoregular;
    font-size: 20px;
    margin-top: 10px;
}


@media (min-width: 768px) {
.arrow{display: none}
}


.arrow {
  margin-top: 10px;
width: 100%;
text-align: center;
 

}

/*----------------------*/

.container2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 3;

}




.beerloga {
    font-family: Robotolight;
  font-size: 60px;
  color:white;
}

.loga{
  color:yellow;
}
.cold{
  font-family: Robotolight;
  font-size: 40px;
   color:white;
   text-align: center;
   margin-top: 402px;
   width: 80%;
}



/*---------------------------------------------------------------*/

  .footcontainer{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 77px;
    padding-bottom: 35px;
  }

.articles-socials {

  text-align: center;

  
   
}
.foot-socials {
  list-style: none;
  margin-left: auto;
  margin-right: auto; 
}
.foot-socials-item {
  display: inline-block;
}
.foot-socials-item:nth-child(n + 2) {
  margin-left: 50px;
}
.foot-socials-link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  position: relative;
  display: inline-block;
}
.foot-socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.foot-socials-link-pinterest {
  background-image: url(../images/vk.png);
}
.foot-socials-link-facebook {
  background-image: url(../images/insta.png);
}
.foot-socials-link-instagram {
  background-image: url(../images/tg.png);
}
.foot-socials-link-tumblr {
  background-image: url(../images/share.png);
}
/*---------------------------------------------------------------*/


@media (min-width: 768px) and (max-width: 1919px)
{
  .header1{
    background-image: url("../images/768stakan.png");
  background-repeat: no-repeat;
  background-position: center center;
 background-size: cover;
  position: relative;
  width: 100%;
  object-fit: cover;

}

.nowtext{
  font-size: 100px;
}

.days{
  font-size: 270px;
  width: 45%;
}

.days2{
  font-size: 100px;
  margin-right: 5.83%;
line-height: 120%;
width: 300px;
text-align: right;
}

.days3{
  font-size: 100px;
  margin-right: 5.83%;
  margin-left: 5.83%;
  text-align: right;
  width: 100%;

}
.main1{
  background-image: url("../images/sibhar768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
  width: 100%;
  padding-top: 62px;
}
.menucontainer{
  width: 100%;
margin-left: 3%;
margin-right: 3%;}

.articles{
  border: 1px solid #f1cb00;
  text-align:justify-all;
  display: flex;
  justify-content: space-around;

}

.links {
  display: flex;
width: 100%;
  }

.field-email {
  margin-top: 10px;
  box-sizing: border-box;
  border: none;
  padding: 16px;
  outline: none;
  background-color: #f1cb00;
  height: 70px;
  text-align: left;
 color: black;

}

.item{
  margin-left: 18%;   
}



.beenfirst {
  text-align: left;
  line-height: 200%;
padding-top: 5%;
padding-bottom: 5%;
font-size: 23px;
}

.submit {
  margin-left: 5.83%;
  margin-right: 5.83%;
}
.form-row {
  width: 100%;
  padding-bottom: 60px;
}
.form-row-text {
  margin-top: 30px;
}
.button {
  display: block;
  width: 258px;
  border: none;
  background-color: #f1cb00;
   cursor: pointer;
  height: 70px;
  border-radius: 40px;
  color: black;
     font-family: Robotoregular;
    font-size: 20px;
    margin-top: 10px;
}

.form-group{
  width: 40%;
  display: inline-block;
  text-align: left;
  margin-right: 15%;
}
.container2{
  margin-bottom: 85%;
}
.logo{
    background-image: url("../images/logo.png");
  background-repeat: no-repeat;
 background-size: cover;
  position: relative;
  width: 100px;
  height: 110px;
  object-fit: cover;
margin-left: 38px;


}
.upperpanel{
  display: flex;
  flex-wrap: nowrap;
width: 100%;

}
.link {
  width: 60px;
  height: 60px;
  background-size: 60px;
}
.item:nth-child(n + 2) {
  margin-left: calc((100% / 5) - 60px);
  }
.beerloga{
font-size: 80px;
width: 90%;
text-align: center;
margin-right: 14%;
}

.cold{
  margin-top: 0;
  font-size: 45px;
}
.foot-articles-socials{
  display: flex;
  align-items: center;
  width: 100%;
}
.foot-socials{
width: 100%;
}
.foot-socials-item{
  margin-left: 18%;
}
.foot-socials-item:nth-child(n + 2) {
    margin-left: 18%;

}

}
/*----------------------------------------*/
@media (min-width: 1920px) {

  body{
    display: flex;
    flex-wrap: nowrap;
   max-width: 1920px;

  }
    .header1{
    background-image: url("../images/desk.png");
  background-repeat: no-repeat;
  background-position: center center;
 background-size: cover;
  position: relative;
  width: 763px;
  object-fit: cover;


}
.main1{
  background-image: url("../images/sibhar.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto; 
  width: 1157px;
  padding-top: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

}
.menucontainer{
  width: 81px;
  border: 1px solid #f1cb00;
  margin-bottom: 25px;


}
.links{
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.nowtext2{
  width: 85%;

}
.nowtext {
  font-size: 90px;
}

.days{
  font-size: 250px;
}

.days2{
font-size: 100px;
padding-top: 67.25px;
line-height: 100px;
}

.days3{
font-size: 100px;
margin-left: 37.797px;
margin-right: 37.797px;
padding-left: 131px;

}

.beenfirst{
  padding-top: 50px;
  padding-left: 5%;
  text-align: left;
  margin-left: 0;
  margin-bottom: 40px;
}
.item:nth-child(n + 2) {
  margin-left: 0;
  margin-top: 150px;
}

.fordesc {
  display: block;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 40px;
  height: 120px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.fordesc:hover {
  color: #F1C40F;
}

.container2{
width: 100%;
display: flex;
flex-direction: column;
     justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 32px;
}
  .footcontainer{
   width: 10%;
      display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
  } 


  .foot{
    width: 10%;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     z-index: 4
  }
.foot-socials-item:nth-child(n + 2) {
  margin-left: 0px;
  margin-top: 100px;
}

.form-row{
  margin-bottom: 32px;
}

.cold{
   margin-top: 598px; 
   margin-bottom: 32px;
   font-size: 45px;

}.submit{

  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
}
.field-email{
  width: 100%;
  text-align: left;
}
.button{
  min-width: 150px;
  width: 40%;
}
.form-group {
  width: 55%;
}
.logo{
    background-image: url("../images/logo.png");
  background-repeat: no-repeat;
 
 background-size: cover;
  position: relative;
  width: 85px;
  height: 110px;
  object-fit: cover;
margin-left: 38px;


}
.upperpanel{
  display: flex;
  flex-wrap: nowrap;
width: 100%;

}
.beerloga{

  margin-left: 252px;
font-size: 80px;

}

.articles{
  border: none;}

  .foot-socials-link {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center center;
  position: relative;
  display: inline-block;
}
}

.cold,  .beerloga, .logo, .foot-articles-socials{
  z-index: 4;
}